@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}
body{
  background: #FFCC00;
}

.App {
  width: 50%;
  margin: 0 auto;
}

.pokemon-app {
  background: #0075BE;
  padding: 20px 30px;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
}
.pokemon-app input[type="text"],
.pokemon-app button {
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.pokemon-app input[type="text"]{
  font-size: 20px;
}
.listing-facts {
  margin: 35px 0;
  text-align: center;
  text-transform: capitalize;
}
.listing-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 10px;
}
.upper-div img {
  width: 100%;
  max-width: 190px;
}
.listing-div p {
  border: 1px solid #fff;
  padding: 14px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.upper-div,
.listing-div p {
  color: #fff;
}
.listing-div p {
  background: #D5A100;
}
.pokemon-app button {
  background: #0A285F;
  color: #fff;
  line-height: 20px;
  padding: 9px !important;
}
.App > h2 {
  text-align: center;
  margin-top: 25px;
  color: #fff;
}
.pokemon-app button:hover{
  opacity:0.8;
}


/*----------------------------- Large Screen - 1 -------------------------------*/
@media only screen and (max-width :1700px) and (min-width: 1367px) {
    
}

/*----------------------------- Large Screen - 2 -------------------------------*/
@media only screen and (max-width :1366px) and (min-width: 1281px) {

}

/*----------------------------- Small Laptop -------------------------------*/
@media only screen and (max-width :1280px) and (min-width: 1101px) {

}

/*----------------------------- Media 1024 -------------------------------*/
@media only screen and (max-width :1100px){
  .App {
    width: 75%;
}

}


/*----------------------------- Media 768 -------------------------------*/
@media only screen and (max-width:999px){
  .listing-div {
    grid-template-columns: 1fr 1fr 1fr;
  }	
}

/*----------------------------- Media 480 -------------------------------*/
@media only screen and (max-width:767px){
  .pokemon-app input[type="text"] {
    width: 100%;
  }
  .pokemon-app {
    padding: 20px 15px;
  }
  .listing-div {
    grid-template-columns: 1fr 1fr;
  }	

}


/*----------------------------- Media 320 -------------------------------*/
@media only screen and (max-width:479px){
  .App {
    width: 95%;
}
.pokemon-app button {
  font-size: 8px !important;
  padding: 6px !important;
  line-height: 14px;
}
.pokemon-app {
  padding: 15px;
}
.App > h2 {
  line-height: 35px;
}
.pokemon-app input[type="text"] {
  font-size: 15px;
}

}

